<div class="input-group">
	<span class="input-group-text">Ingredient</span>
	<input type="text" aria-label="Ingredient" class="form-control" id="name" name="name" @bind="@Name">
	<input type="number" aria-label="Quantity" class="form-control" id="qty" name="qty" min="0" max="9999" step="0.01" @bind="@Qty">
	<input type="text" aria-label="Unit of measurement" class="form-control" id="unit" name="unit" @bind="@Unit">
</div>

@code{
	public string Name { get; set; } = "";
	public float Qty { get; set; }
	public string Unit { get; set; } = "";
}