@inherits DisplayRecipesBase

@foreach (var item in Recipes)
{
	<div class="col-md-2 md-3 mb-2">
		<a href="/RecipeDetails/@item.RecipeId">
			<div class="card menu-container">
				<div class="card-body">
					<h5 class="card-title mb-3" id="recipe-title">
						@item.Title
					</h5>
				</div>
			</div>
		</a>
	</div>
}
