@inherits DisplayRecipesBase

@if (Recipes is not null)
{
	foreach (var item in Recipes)
	{
		<div class="col-xxl-3 col-xl-4 col-lg-6 mb-2">
			<a href="/RecipeDetails/@item.RecipeId">
				<div class="card menu-container">
					<div class="card-body">
						<h5 class="card-title first-letter-capitalize m-0" id="recipe-title">
							@item.Title
						</h5>
					</div>
				</div>
			</a>
		</div>
	}
}
