﻿﻿
a .card-title {
    text-decoration: none;
    color: #FFFFF8;
}

a {
    text-decoration: none;
}


.first-letter-capitalize::first-letter {
    text-transform: uppercase;
}

a:hover .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
/*    background-color: #61FF66;*/
    transition: box-shadow 0.3s ease-in-out;
    color: #2B2C2E;
}

.card {
    transition: box-shadow 0.3s ease-in-out;
    overflow: hidden;
}