@page "/"
@inherits RecipesBase

@if (ErrorMessage is not null)
{
	<p class="error">@ErrorMessage</p>
}
else if (Recipes == null)
{
	<DisplaySpinner />
}
else
{
	<h3 class="mb-5">Recipes</h3>

	<div>
		<input type="text" @bind="@SearchText" placeholder="Search..">

		<button class="btn btn-success"
				@onclick="() => (Search_Click())">
			<b>Search</b>
		</button>
	</div>
	<br>

	<div>
		<button class="btn btn-success"
				@onclick="() => (AddNewRecipe_Click())">
			<b>Add new recipe</b>
		</button>
	</div>
	<br>


	var itemCount = Recipes.Count();

	@if (itemCount > 0)
	{
		@foreach (var group in GetGroupedByCategory())
		{
			<h4>@GetCategoryName(group)</h4>

			<div class="row mt-3">
				<DisplayRecipes Recipes="@group"></DisplayRecipes>
			</div>
			<hr class="mb-3" />
		}
	}
}
