body {
}
/*[class*="col"] {
    padding: 1rem;
    background-color: aquamarine;
    border: 2px solid #000;
}*/

.capitalized-title {
    text-transform: capitalize;
}

.btn-lg-gray {
    border-radius: 24px;
    background-color: #E4EDEE;
    color: #2B2C2E;
    width: 140px;
}
