#register-btn {
    background-color: #FF6B00;
}
.custom-col {
    max-width: 100%;
    width: 100%;
    flex: 200 200 auto;
}

@media (min-width: 576px) {
    .custom-col {
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .custom-col {
        max-width: 50%;
    }
}

@media (min-width: 992px) {
    .custom-col {
        max-width: 33.333%;
    }
}
