@page "/"
@inject NavigationManager NavigationManager

@* <div class="vegetableimg">
	<img  src="Images/vegetables.png"/>
</div> *@
<div class="row">
	<div class="col-md-8 float-end">
		<div id="mainblock">
			<h1 class="display-1">Welcome to Cook it</h1>
			<p class="my-3">
				Your personal recipe organiser.<br />
				Store your recipes in Cook It cloud and access them on your devices anytime.
			</p>

			<div class="my-4">
				<button class="btn btn-primary btn-lg shadow-none" id="login-btn"
						@onclick="Login_Click">
					<b>LOG IN</b>
				</button>

				<button class="btn btn-primary btn-lg shadow-none" id="register-btn"
						@onclick="Registration_Click">
					<b>SIGN UP</b>
				</button>
			</div>
		</div>
	</div>

	<div class="d-none d-md-block col-md-4 float-end">
		<img class="mh-100"
			 src="Images/phone.png"
			 alt="Cook it mobile application"
			 id="phoneimg" />
	</div>
</div>


@code {

	private void Login_Click()
	{
		NavigationManager.NavigateTo("/Login");
	}

	private void Registration_Click()
	{
		NavigationManager.NavigateTo("/Register");
	}
}
