@page "/"
@inject NavigationManager NavigationManager

<div class="vegetableimg">
	<img  src="Images/vegetables.png"/>
</div>

<div class="mainblock">
	<h1>Welcome to Cook it</h1>
	<p>
	Your personal recipe organiser.<br />
	Store your recipes in Cook It cloud and access them on your devices anytime.</p>	

	<button class="btn btn-success" id="login-btn"
			@onclick="() => (Login_Click())">
		<b>LOG IN</b>
	</button>

	<button class="btn btn-success" id="register-btn"
			@onclick="() => (Registration_Click())">
		<b>SIGN UP</b>
	</button>
</div>
<div class="phoneimg">
	<img  src="Images/phone.png" alt="Cook it mobile application" />
</div>





@code {

	private async Task Login_Click()
	{
		NavigationManager.NavigateTo("/Login");
	}

	private async Task Registration_Click()
	{
		NavigationManager.NavigateTo("/Register");
	}
}
