h1 {
    color: #4dc852;
    font-weight: bold;
}

.vegetableimg {
    position: fixed;
    top: 100px;
    left: 450px;
}

.float-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85vh; 
}

#mainblock {
    justify-content: center;
}

#phoneimg {
    margin-right: 0;
}
