.navbar-toggler {
    color: #2B2C2E;
}

.navbar-toggler:hover {
    font-size: 1.3rem;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    box-shadow: none;
}

.top-row {
    height: 10rem;
}

.navbar-brand {
    font-size: 1.3rem;
    font-family: Lemonada
}

#logo_image {
    height: 5rem
}

.lni {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    background-size: cover;
}

.nav-item {
    font-size: 1.1rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #676660;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item ::deep a.active {
            font-weight: bold;
            color: #2B2C2E;
        }

.nav-item ::deep a:hover {
    font-weight: bold;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }   
}

